body{
  background-color: #29e7cd;
   background-image: linear-gradient(315deg, #29e7cd 0%, #fffbfc 74%);

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* *{
  margin: 15px;
  padding:0px;
} */
nav ul{
  display:flex;
  justify-content: space-around;
  height:30px;
  width:1400px;
  list-style-type: none;
 align-items: center;
 /* border:1px solid black; */
}
#search{
  border-radius: 50px;
  padding:20px;
}
.grandparent{
  display:flex;
  flex-direction: column;
  /* border:1px solid black; */
  height:1500px;
  margin: 15px;
  padding:0px;
}
.news{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.newsitem{
  display:flex;
  flex-direction: column;
  height:auto;
  background-color: #29e7cd;
   background-image: linear-gradient(315deg, #29e7cd 0%, #fffbfc 74%);
}
img{
  height:200px;
  width:200px;
}
.content{
  height:200px;
  width:200px;
  
}
.author{
  height:40px;
  width:200px;
 
}
.readmore{
  height:20px;
  width:200px;
}
.newscontent{
  display:flex;
  justify-content: space-around;
  width:1450px;
  height:1500px;
  flex-wrap: wrap;
}
a{
  text-decoration: none;
}
a:hover{
  color:red;
}